hill.patrick_HillSoap/src/ordering/RestuarantsRest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="restaurants" type="restaurantsType"/>
  <xs:complexType name="menuItemsType">
    <xs:sequence>
      <xs:element type="menuItemType" name="menuItem" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="restaurantType">
    <xs:sequence>
      <xs:element type="menuItemsType" name="menuItems"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="optional"/>
  </xs:complexType>
  <xs:complexType name="restaurantsType">
    <xs:sequence>
      <xs:element type="restaurantType" name="restaurant" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="menuItemType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="name" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>